<section class="pt-0" id="welcome">
<div>
  <div class="row">
    <div class="col-12 col-sm-5">
      <div class="block">
        <div class="title-block">
          <h2 class="title text-capitalize text-left">
            <u>Frequently Asked Questions</u>
          </h2>
          <p class="content pt-5 text-left">
            Everything you want to know about us:
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 offset-sm-2 col-sm-5">
      <div class="block" align="right">
        <img
          [src]="faq"
          class="img-fluid px-2 px-sm-0 py-1 py-sm-0 mb-5 mb-sm-0"
          alt="top creative"
        />
      </div>
    </div>
  </div>
</div>
</section>



<!-- <div class="dropdown">
  <span>aaks</span>
  <div class="dropdown-content">
    <p>dfgfrghd</p>
  </div>
</div> -->

<div class="container">
  <ul>
    <li><b>What is PenPencil?</b></li>
    <ul>
      <p>PenPencil is an educational software product company, headquartered in New Delhi,India. We offer customizable E-Learning websites and apps that are attractive, interactive, secure and affordable for online educators.</p>
    </ul>
  </ul>
</div>
<br><br>
<div class="container">
  <ul>
    <li><b>Is PenPencil right for me?</b></li>
    <ul>
      <p>If you’re a representative of an educational institution (school, coaching centre etc) or an online tutor (publishing videos on YouTube, Unacademy or somewhere similar) or anyone at all who wants their own E-Learning website and/or app to manage lessons, fees, attendance, and tests; then YES.</p>
    </ul>
  </ul>
</div>
<br><br>
<div class="container">
  <ul>
    <li><b>What is a ballpark figure for this kind of project?</b></li>
    <ul>
      <p>Although pricing can vary depending on how many products you obtain from us, you can expect a cost of Rs 2 lakhs for an android application.</p>
    </ul>
  </ul>
</div>
<br><br>
<div class="container">
  <ul>
    <li><b>How does this offer me value for money?</b></li>
    <ul>
      <p>Having an online platform allows you to create a brand presence for yourself, gives you greater legitimacy and attracts a larger number of students. We can also integrate Google AdSense and “Refer and Earn” schemes into the app, so that you earn additional revenue . All this, apart from the time and effort you will save by having one place for all your needs such as fee payment, attendance, mock tests, assignments, and live streamed lectures.</p>
    </ul>
  </ul>
</div>
<br><br>
<div class="container">
  <ul>
    <li><b>Will my data remain safe and private?</b></li>
    <ul>
      <p>Absolutely. All your students will be given unique login IDs and passwords, ensuring that only students of a certain batch can access it. No party without authorization can view or modify sensitive information, yours or anyone else's.</p>
    </ul>
  </ul>
</div>
<br><br>
<div class="container">
  <ul>
    <li><b>How exactly will the app/website work?</b></li>
    <ul>
      <p>Once your product is ready for you, you will be given Admin access to it. Upon opening the app you will be greeted by a dashboard with an intuitive interface, from where you can manage all your education related activities. Your students will be able to login using a private login id and password on the app, from which they can then access all the exercises, tests and other material you upload. Parents can also login to remain updated with their ward’s performance.</p>
    </ul>
  </ul>
</div>
<br><br>
<div class="container">
  <ul>
    <li><b>Will I get updates while my app is in development?</b></li>
    <ul>
      <p>Yes, you will be kept updated throughout the process and informed of any milestones we achieve.</p>
    </ul>
  </ul>
</div>
<br><br>
<div class="container">
  <ul>
    <li><b>Can I test my product before it goes live?</b></li>
    <ul>
      <p>Absolutely. You can test it and get it tweaked until you're completely satisfied.</p>
    </ul>
  </ul>
</div>
<br><br>
<div class="container">
  <ul>
    <li><b>How do iOS and android updates affect my app?</b></li>
    <ul>
      <p>Your app's functionality and look remains unchanged, and we're prompt to resolve any glitches that may arise inadvertently.</p>
    </ul>
  </ul>
</div>
<br><br>
<div class="container">
  <ul>
    <li><b>How much do I have to pay upfront? Are there any payment plans?</b></li>
    <ul>
      <p>We normally ask for a 50% advance payment upfront, and the balance is paid subsequently as the product is customized and readied for you. Please get in touch with us to know more.</p>
    </ul>
  </ul>
</div>
<br><br>
<div class="container">
  <ul>
    <li><b>Will you help with the maintenance of the site/app after everything has gone live?</b></li>
    <ul>
      <p>Absolutely. Since you're utilizing a PenPencil eLearning product, we retain responsibility to ensure its working smoothly and you're happy with your result.</p>
    </ul>
  </ul>
</div>
<br><br>
<div class="container">
  <ul>
    <li><b>Will there be a limit on the no.of students who can enroll in my online classroom/ watch my videos?</b></li>
    <ul>
      <p>No, you can have as many students as you want enroll for your course. There is no limit.</p>
    </ul>
  </ul>
</div>
<br><br>
<div class="container">
  <ul>
    <li><b>Will you assist me with the marketing of my educational app or website?</b></li>
    <ul>
      <p>We ensure that your product is optimized, appealing and easy-to-use but acquisition of students and marketing of your educational content is ultimately your responsibility. We only provide you with a digital platform.</p>
    </ul>
  </ul>
</div>
<br><br>
<div class="container">
  <ul>
    <li><b>What's the difference between Learnyst and PenPencil? How is PenPencil better?</b></li>
    <ul>
      <p>To put it simply, it depends on whether you prioritize personalization or quick and easy templates. Learnyst is ideal for online educators looking to launch a platform within a week, with no scope for extending or taking time to plan the details. It’s fast and convenient. However, this also means that there is uniformity and dullness in your product, because it resembles other E-learning websites, has the same structure and is made from the same few templates repeated everywhere. A large part of your USP will be the freshness of your online education platform-how different it is, how customized it is to your particular audience. With PenPencil, we deliver products keeping your brand in mind and with your approval. Its carefully designed to suit your needs and brand aesthetic. Moreover, since the core of our product is ready and we specialize in online education, you won’t have to wait very long (as opposed to general developers who build your site from scratch)</p>
    </ul>
  </ul>
</div>
<br><br><br><br>
<ul>
<b>Help! I have more questions/my question isn't answered here.</b><br><br>
<ul>
  <b>No worries Please submit the contact us form, or get in touch with us here.</b>
</ul>
</ul>
<app-form></app-form>
