<main>

<section class="pt-0" id="welcome">

<div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-5">
      <div class="block">
        <div class="title-block">
          <h2 class="title text-capitalize text-left">
            <u>About</u> Us
          </h2>
          <span class="underline"></span>
          <p class="content pt-5 text-left">
            Since its inception a few years ago, PenPencil has strived to
            offer unparalleled services and in the domain of services and in
            the domain of online education.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-7">
      <div class="block">
        <img
          [src]="about"
          class="img-fluid px-2 px-sm-0 py-1 py-sm-0 mb-5 mb-sm-0"
          alt="top creative"
        />
      </div>
    </div>
  </div>
</div>
</section>


<section id="our-team">
<div class="title-block">
  <h2 class="title text-capitalize pt-3 pt-md-4">
    <u>Our Team</u>
  </h2>
  <div class="underline my- mx-auto"></div>
  <p>
    Have a look at the people who have made all our success stories possible
    with their hard work, talent and dedication.
  </p>
</div>
<br><br>

<div class="container">
<ul>
  <li>
    <h3><u>Prateek Maheshwari</u></h3>
      <ul>
        <h4>CEO & CO-FOUNDER</h4>
        <ul>
        <p>Prateek founded PenPencil with a vision of easing accessibility to education for students. Often, this means giving educators the right tool to reach out to students who are eager to learn with the help of the internet. PenPencil does just that, and as CEO, Prateek takes care of basically everything.</p>
        </ul>
      </ul>
  </li>
</ul>
</div>
<br><br>

<div class="container">
<ul>
  <li>
    <h3><u>Devesh Mishra</u></h3>
      <ul>
        <h4>TECH LEAD & FULL STACK DEVELOPER</h4>
        <ul>
        <p>Devesh is another one of the brains that make our company deliver perfection. With a Masters in Computer Application from IIIT, he has been passionately developing android applications since 2014.</p>
        </ul>
      </ul>
  </li>
</ul>
</div>
<br><br>

<div class="container">
<ul>
  <li>
    <h3><u>Reeti Garg</u></h3>
      <ul>
        <h4>SENIOR FRONT-END DEVELOPER</h4>
        <ul>
        <p>Skilled in a number of developing languages including CSS, Angular Js, Node Js and HTML, Reeti ensures that the front end user has a seamless experience with a well-designed interface.</p>
        </ul>
      </ul>
  </li>
</ul>
</div>
<br><br>

<div class="container">
<ul>
  <li>
    <h3><u>Jasmeet Singh</u></h3>
      <ul>
        <h4>UI/UX DESIGNER</h4>
        <ul>
        <p>Adept at working with Illustrator, PhotoShop and Adobe Xd, Jasmeet’s technical and artistic skills combine to give users an aesthetically pleasing online experience.</p>
        </ul>
      </ul>
  </li>
</ul>
</div>
<br><br>

<div class="container">
<ul>
  <li>
    <h3><u>Santosh Mahto</u></h3>
      <ul>
        <h4>IOT & MEAN STACK DEVELOPER</h4>
        <ul>
        <p>Master of MEAN stack development and Internet of Things, Santosh coding skills keep our products robust and efficient.</p>
        </ul>
      </ul>
  </li>
</ul>
</div>
<br><br>

<div class="container">
<ul>
  <li>
    <h3><u>Deveshwar Jaiswal</u></h3>
      <ul>
        <h4>FRONT-END AND ANDROID DEVELOPER</h4>
        <ul>
        <p>With extensive experience and preference for designing premium user experiences online, Deveshwar is our front-end developer (with skills in Javascript and graphic designing) who makes client satisfaction possible.</p>
        </ul>
      </ul>
  </li>
</ul>
</div>
<br><br>

<div class="container">
<ul>
  <li>
    <h3><u>Nitish Kumar</u></h3>
      <ul>
        <h4>QUALITY ANALYST ENGINEER</h4>
        <ul>
        <p>Our in-house Quality Analyst Engineer Nitish is responsible for comprehensive testing of all our products for clients at each stage of development, so that what we deliver performs to its optimum level.</p>
        </ul>
      </ul>
  </li>
</ul>
</div>
<br><br>

<div class="container">
<ul>
  <li>
    <h3><u>Amit Singh</u></h3>
      <ul>
        <h4>SUPPORT MANAGER</h4>
        <ul>
        <p>Amit is involved with Latex, Back-End and Front End operations, but mainly takes care of client centric communication and resolution.</p>
        </ul>
      </ul>
  </li>
</ul>
</div>
