<form autocomplete="off">
  <h4><u>Get in Touch With Us</u></h4>
  <div>
    <input type="email" placeholder="Email " required>
  </div>
  <div>
  <input type="text" placeholder="Name" required>
  </div>
  <div>
    <input type="text" placeholder="Mobile Number" required >
  </div>
  <div>
  <textarea rows="3" cols="30" placeholder = "Message" required ></textarea>
  </div>
  <button
    type="submit"
    class="btn btn-primary text-capitalize btn-curve px-7 py-1 mr-sm-2">
    SUBMIT
  </button>
</form>
